body {
  background: rgb(234, 240, 249);
  font-family: "Raleway", sans-serif;
}
a {
  color: rgb(68, 106, 164);
}
.container {
  background-color: white;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
}
.search-input {
  background-color: rgb(234, 240, 249);
  border: none;
  border-radius: 3px;
  width: 80%;
  padding: 10px;
  font-size: 16px;
}
.search-button {
  background-color: rgb(68, 106, 164);
  width: 15%;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  color: white;
  margin-left: 3px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-around;
}
.weather-app-city {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
}
.weather-app-details {
  font-size: 16px;
  color: rgb(78, 84, 93, 0.6);
  line-height: 20px;
}
.weather-app-details strong {
  color: rgba(219, 72, 97, 0.777);
}
.temp-container {
  display: flex;
}
.temp-icon {
  height: 88px;
  width: 88px;
}
.temp-value {
  font-size: 68px;
  font-weight: 200;
  margin: 0 0 0 0;
}
.temp-unit {
  font-size: 30px;
  font-weight: 200;
  margin: 10px 0 0 0;
}
footer {
  padding: 30px 0 0 0;
  font-size: 13px;
  text-align: center;
}
